* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #E23736;
  // #E23736
  // #504A4A
  
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}
